- if comment.errors.any?
  %div.alert.alert-error
    %a.close{ 'data-dismiss' => 'alert'}
    %strong
      = pluralize(comment.errors.count, "error") + ' prohibited this comment from being saved:'
    %ul
      - comment.errors.full_messages.each do |msg|
        %li
          =msg

= simple_form_for comment do |f|
  .control-group
    .controls
      = f.input :body, input_html: { :class => 'text_field' }

  = f.input :author_id, :as => :hidden, input_html: { :value => current_user.id }
  = f.input :story_id,  :as => :hidden, input_html: { :value => comment.story_id }

  .form-actions
    = f.button :submit, { :class => 'btn btn-primary' }
    = link_to t('.cancel', :default => t("helpers.links.cancel")), story_path(comment.story), :class => 'btn'
