- if comment.errors.any?
  %div.alert.alert-error
    %a.close{ 'data-dismiss' => 'alert'}
    %strong
      = pluralize(comment.errors.count, "error") + ' prohibited this comment from being saved:'
    %ul
      - comment.errors.full_messages.each do |msg|
        %li
          =msg

= form_for comment, :html => { :class => '' } do |f|
  .control-group
    .controls
      = f.text_area :body, :class => 'text_field'

  = f.hidden_field :author_id, :value => current_user.id
  = f.hidden_field :story_id, :value => comment.story_id

  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), story_path(comment.story), :class => 'btn'
