= link_to('Back', stories_path)

%h1
  = @story.title
  = @story.state

%div
  = @story.body

= render 'state_buttons', :story => @story

= render 'story_comments/comments', :comments => @story.story_comments

%h1 Add comment
= render 'story_comments/form', :comment => @comment, :story => @story